<footer class="footer page-footer font-small">
    <div class="footer-copyright text-center py-3">
        <em><small class="text-muted"><a href="https://github.com/RoboEagles4828/insight">Insight v<%= version %></a>, running on Node.js <%= node %>. Made with &#x2764; by <a href="https://roboeagles.org">RoboEagles 4828</a>.</small></em>
    </div>
</footer>