<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Insight</a>
    <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
        <a href="https://www.thebluealliance.com/event/<%= event.key %>" class="btn btn-light my-2 my-sm-0 mr-auto" role="button"><%= event.name %></a>
    </ul>
</nav>