.alert-box {
    color: #2c3e50;
    border-color: #34495e;
}

.alliance-red {
    text-align: center;
    font-size: 200%;
}

.alliance-blue {
    text-align: center;
    font-size: 200%;
}

.date {
    display: table-cell;
    vertical-align: middle;
}

.numeral {
    display: table-cell;
    vertical-align: middle;
}

.other-match-red {
    color: #fff;
    background-color: #e74c3c;
    border-color: #c0392b;
    text-align: center;
    padding: 0px;
}

.other-match-blue {
    color: #fff;
    background-color: #3498db;
    border-color: #2980b9;
    text-align: center;
    padding: 0px;
}

.score-red {
    color: #fff;
    background-color: #c0392b;
    border-color: #e74c3c;
    text-align: center;
    padding: 0px;
}

.score-blue {
    color: #fff;
    background-color: #2980b9;
    border-color: #3498db;
    text-align: center;
    padding: 0px;
}

.frc4828 {
    text-decoration: underline;
}

.vs {
	text-align: center;
	font-size: 300%;
}

.no-overflow {
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body {
    display: flex;
}

html, body {
    height: 100%;
}

footer {
    margin-top: auto;
}

a.no-color {
    color: inherit;
}